<body style="background-color:rgb(255, 179, 0)">
    <form> 
        <br><br><br><br>
        <div class="col-md-3"> 
          <br><br><br><label for="inputTrainnumber" class="form-label" >Train Number</label> 
          <input type="number" class="form-control" id="inputTrainnumber" placeholder="Enter Train Number"> 
        </div> 
      
      <div class="col-12"> 
        <br><br><br><br><button type="submit" class="nav-link" routerLink="/viewoneparticulartrain">Enter</button> <br><br>
      </div>
      <button class="nav-link" routerLink="/adminhome">Back</button><br><br><br><br>
      </form>
    </body>
