<html>
<head>
<style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: rgb(0, 0, 255)} 
.button2 {background-color: rgb(0, 0, 255)} 
.button3 {background-color: rgb(0, 0, 255)} 
.button4 {background-color: rgb(0, 0, 255)} 
</style>
</head>
<body style="text-align: center; background-color: rgb(80, 255, 255)">
<button class="btn btn-primary" (click)="logOut()">Log Out</button>
<br><button class="nav-link" routerLink="/addtrain" (click)="addTrain()">Add Train</button> <br><br>          
<button class="nav-link" routerLink="/deletetrain" (click)="deleteTrain()">Delete Train</button> <br><br>
<button class="nav-link" routerLink="/updatetraindetails" (click)="updateTrain()">Update Train Details</button> <br><br>
<button class="nav-link" routerLink="/viewparticulartrain" (click)="viewParticularTrain()">View Particular Train</button> <br><br>            
<button class="nav-link" routerLink="/viewalltrains" (click)="viewAllTrains()">View All Trains</button> <br><br>
<button class="nav-link" routerLink="/deletecustomer" (click)="deleteTrain()">Delete Customer</button> <br><br>
<button class="nav-link" routerLink="/viewparticularcustomer" (click)="viewParticularCustomer()">View Particular Customer</button> <br><br> 
<button class="nav-link" routerLink="/viewallcustomers" (click)="viewAllCustomers()">View All Customers</button> <br><br><br><br><br>
<button class="nav-link" routerLink="/adminlogin">Back</button><br> 
</body>
</html>