<body style="background-color:rgb(0, 242, 255)">
    <form> 
        <div class="col-md-3"> 
          <br><br><label for="entertrainno" class="form-label" >Enter Train Number</label> 
          <input type="number" class="form-control" id="entertrainno " placeholder="Enter Train Number"> 
        </div> 
      <div class="col-12"> 
        <br><br><br><button type="submit" class="nav-link" routerLink="/payment">Book</button> <br><br>
      </div> 
      <button class="nav-link" routerLink="/bookticket">Back</button><br><br><br><br><br><br><br><br><br><br>
      </form>
    </body>
