<body style="background-color:rgb(0, 229, 255);text-align:center">
    <div class="container my-3"> 
        <div class="jumbotron"> 
            <h1 class="display-4">About Nandeesh Railways</h1> 
            <p class="lead">This system facilitates the online booking of train tickets for the Pakistan Railways</p> 
            <hr class="my-4"> 
            <p>We wish you a wonderful experience on our website and a fantastic journey ahead with us!</p> 
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> <br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div> 
    </div>
    </body>
    