<body style="background-color:rgb(166, 255, 0)">
    <form class="row g-3"> 
        <div class="col-md-3"> 
            <label for="inputName" class="form-label">Name</label> 
            <input type="text" class="form-control" id="inputName" placeholder="Enter Name"> 
          </div> 
          <div class="col-md-2"> 
            <label for="inputSourcestation" class="form-label">Source Station</label> 
            <input type="text" class="form-control" id="inputSourcestation" placeholder="Enter Source Station"> 
          </div> 
          <div class="col-md-3"> 
            <label for="inputDestinationstation" class="form-label">Destination Station</label> 
            <input type="text" class="form-control" id="inputDestinationstation" placeholder="Enter Destination Station"> 
          </div>
         
        <div class="col-md-2"> 
            <label for="inputArrivaldatetime" class="form-label">Arrival Datetime</label> 
            <input type="datetime-local" class="form-control" id="inputArrivaldatetime" placeholder="Enter Arrival Datetime"> 
          </div> 
          <div class="col-md-2"> 
            <label for="inputDeparturedatetime" class="form-label">Departure Datetime</label> 
            <input type="datetime-local" class="form-control" id="inputDeparturedatetime" placeholder="Enter Departure Datetime"> 
          </div>
          <div class="col-md-2"> 
            <label for="inputTotalseats" class="form-label">Total Seats</label> 
            <input type="number" class="form-control" id="inputTotalseats" placeholder="Enter Total Seats"> 
          </div> 
          <div class="col-md-2"> 
            <label for="inputAvailableseats" class="form-label">Available Seats</label> 
            <input type="number" class="form-control" id="inputAvailableseats" placeholder="Enter Available Seats"> 
          </div> 
          <div class="col-md-2"> 
            <label for="inputClass" class="form-label">Class</label> 
            <input type="text" class="form-control" id="inputClass" placeholder="Enter Class"> 
          </div>
         
        <div class="col-md-2"> 
            <label for="inputFare" class="form-label">Fare (in INR)</label> 
            <input type="number" class="form-control" id="inputFare" placeholder="Enter Fare (in INR)"> 
          </div> 

          <br><br><br><br><br><br>
        <div class="col-12"> 
          <button type="submit" (click)="changeParticularTrain()">Save Changes</button> <br><br>
        </div> 
        <div class="col-12">
        <button class="nav-link" routerLink="/updatetraindetails">Back</button><br><br><br><br><br><br><br><br>
    </div>
      </form>
    </body>