<body style="background-color:rgb(255, 179, 0)">
    <form> 
        <br><br><br><br>
        <div class="col-md-3"> 
          <br><br><br><label for="inputCustomerid" class="form-label" >Customer ID</label> 
          <input type="number" class="form-control" id="inputCustomerid" placeholder="Enter Customer ID"> 
        </div> 
      
      <div class="col-12"> 
        <br><br><br><br><button type="submit" class="nav-link" routerLink="/viewoneparticularcustomer">Enter</button> <br><br>
      </div> 
      <button class="nav-link" routerLink="/adminhome">Back</button><br><br><br><br><br><br>
      </form>
    </body>
